@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@import "tailwindcss";

@theme{
  --font-inter : "Inter", sans-serif;
  --font-poppins : "Poppins",sans-serif;
}